




<div class="jumbotron">

  <h1 class="display-4"> About Me!! .</h1>

  <h2 class="display-4">Welcome to Stock Market Portfolio Web App by Daniel Jere.</h2>

<hr class="my-4">

<p class="lead">This is my Personal website created using Node Js Programming Skills,
         that has latest information  about Stock Market.
         This Project was designed to help  beginners learn how to start a project,Set version Control,Use bootsrap,upload to Github,push to heroku web hosting ,create SSH keys,create JSON file,work with npm,Procfile ,API ,and finally  finish a project.
         I love to Teach and Coding !.
           </p> 

<a class="btn btn-primary btn-lg" href="/" role="button">Stock Portfolio....</a>

</div>
